/* Reset */
* {
  box-sizing: border-box;
  font-family: Inter, system-ui, sans-serif;
}

/* Background */
body {
  background: #0f172a;
  color: #fff;
  margin: 0;
  padding: 40px;
}

.app {
  display: flex;
  align-items: baseline;
}
/* Header */
header {
  text-align: center;
  margin-bottom: 30px;
}

header h1 {
  font-size: 2rem;
  font-weight: 600;
}



/* Create note section */
.create-note {
  background: #1e293b;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  width: 350px;
  height: 500px;
}

.create-note input,
.create-note textarea {
  background: #0f172a;
  border: 1px solid #334155;
  color: white;
  padding: 10px;
  border-radius: 6px;
  height: 50%;
}

#inputTitle{
  height: 10%;
}

.create-note textarea {
  min-height: 100px;
}

.create-note button {
  background: #3b82f6;
  color: white;
  border: none;
  padding: 8px 14px;
  border-radius: 6px;
  cursor: pointer;
  align-self: center;
}

.create-note button:hover {
  background: #2563eb;
}

/* Notes */
.notes {
  display: flex;
  flex-flow: row wrap;
  gap: 15px;
  margin-left: 50px;
}

/* Empty text */
.empty {
  opacity: 0.6;
}

/* Note card */
.note {
  background: #1e293b;
  padding: 15px 20px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 300px;
}

/* Note content */
.note-content h3 {
  margin-bottom: 4px;
}

.note-content p {
  color: #cbd5e1;
  font-size: 0.95rem;
  word-wrap: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
}

.note-content{
  
}

/* Actions */
.note-actions {
  display: flex;
  margin-top: auto;
  gap: 10px;
}

/* Edit */
.edit-btn {
  background: transparent;
  border: 1px solid #3b82f6;
  color: #3b82f6;
  padding: 5px 10px;
  border-radius: 6px;
  cursor: pointer;
}

.edit-btn:hover {
  background: #3b82f6;
  color: white;
}

/* Delete */
.delete-btn {
  background: transparent;
  border: 1px solid #ef4444;
  color: #ef4444;
  padding: 5px 10px;
  border-radius: 6px;
  cursor: pointer;
}

.delete-btn:hover {
  background: #ef4444;
  color: white;
}
