/* background */
body {
  background: #0f172a;
  color: #fff;
  margin: 0;
  padding: 40px;
}

.app {
  display: flex;
  align-items: baseline;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/* title */
header {
  text-align: center;
  margin-bottom: 30px;
}

/* note creation card */
.create-note {
  background: #1e293b;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  width: 350px;
  height: 500px;
}

.create-note input,
.create-note textarea {
  background: #0f172a;
  border: 1px solid #334155;
  color: white;
  padding: 10px;
  border-radius: 6px;
  height: 50%;
}

#inputTitle{
  height: 5%;
}

.create-note button {
  background: #3b82f6;
  color: white;
  border: none;
  padding: 8px 14px;
  border-radius: 6px;
  cursor: pointer;
  align-self: center;
}

.create-note button:hover {
  background: #2563eb;
}

.creat-note-actions{
  display: flex;
  justify-content: center;
  gap: 10px;
  padding-right: 20px;
}

/* whole notes section, displaying all saved notes */
.notes-section {
  display: flex;
  flex-flow: row wrap;
  gap: 15px;
  margin-left: 50px;
}

/* "no notes yet.." text */
.empty {
  opacity: 0.6;
}

/* whole note card container*/
.note {
  background: #1e293b;
  padding: 15px 20px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 250px;
}

/* note content - title and text */
.note-content h3 {
  margin-bottom: 4px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.note-content p {
  color: #cbd5e1;
  font-size: 0.95rem;
  word-wrap: break-word;
/* using webkit to ellipse content that exceeds 7 lines in the container*/
display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;

}

/* note edit, view and delete actions */
.note-actions {
  display: flex;
  margin-top: auto;
  gap: 10px;
}

/* edit button */
.edit-btn {
  background: transparent;
  border: 1px solid #3b82f6;
  color: #3b82f6;
  padding: 5px 10px;
  border-radius: 6px;
  cursor: pointer;
}

.edit-btn:hover {
  background: #3b82f6;
  color: white;
}

/* delete butotn*/
.delete-btn {
  background: transparent;
  border: 1px solid #ef4444;
  color: #ef4444;
  padding: 5px 10px;
  border-radius: 6px;
  cursor: pointer;
}

.delete-btn:hover {
  background: #ef4444;
  color: white;
}

.view-btn {
  background: transparent;
  border: 1px solid #75ef44;
  color: #75ef44;
  padding: 5px 10px;
  border-radius: 6px;
  cursor: pointer;
}

.view-btn:hover {
  background: #75ef44;
  color: white;
}

.note.editing {
  outline: 3px solid red;
  outline-offset: 3px;
}


/* single note view */ 

.single-note-view h2{
  word-wrap: break-word;
}

.single-note-view p{
  overflow-wrap: break-word;
}

.single-note-view {
  width: 1350px;
}